* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #ffe000, #799f0c);
}

.container {
    width: 400px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 6px;
}

.form {
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #aaa;
}
 
button, input {
    border: none;
    outline: none;
}
input {
    font-size: 24px;
    color: #444;
    width: 100%;
    padding-right: 20px;
}

button {
    background-color: yellowgreen;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 20px
}


ul {
    list-style: none;
}

.todoList-item {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 22px;
    padding: 15px 22px;
    display: flex;
    justify-content: space-between;
}
.todoList-item:hover i {
    display: unset;
    opacity: 1;
}
.todoList-item i {
    display: none;
    opacity: 0;
    color: #888;
}