@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'poppins';
    background-image: linear-gradient(45deg, #3575d1, #7d4ed4);
}

.container {
    width: 500px;
    margin: 200px 0;
    

.label {
    width: 100%;
    border: 2px dashed white;
    height: 350px;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
}

.label i {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.label span {
    font-size: 25px;
    color: white;
}